In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data_w_clusters.csv')
df

,Unnamed: 0,trip_distance,payment_type,fare_amount,extra,tip_amount,improvement_surcharge,total_amount,trip_time,year,month,VendorID,minibatch_kmeans_cluster
0,0,2.332504,-0.574009,1.149919,-0.560178,-0.075082,7.216450e-16,0.995266,0.232127,2019,10,2.0,3
1,1,-0.670114,-0.574009,-0.858486,-0.560178,0.202804,7.216450e-16,-0.609054,-0.776052,2019,10,2.0,0
2,2,1.123258,-0.574009,1.867206,-0.958696,1.592234,7.216450e-16,2.000382,2.111681,2019,10,2.0,3
3,3,-1.172259,1.675972,-1.288859,-0.958696,-1.310131,7.216450e-16,-1.565847,-1.132929,2019,10,2.0,0
4,4,-0.875071,1.675972,-0.428114,-0.958696,-1.310131,7.216450e-16,-0.841003,-0.169360,2019,10,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4283208,4283208,0.646525,-0.542339,0.427844,-0.896755,0.713413,7.771561e-16,0.519474,-0.144702,2021,4,2.0,2
4283209,4283209,-0.661957,1.760627,-0.302875,-0.896755,-1.341129,7.771561e-16,-0.752683,0.014671,2021,4,2.0,1
4283210,4283210,1.137206,-0.542339,0.427844,-0.102768,0.867890,7.771561e-16,0.815324,-0.304075,2021,5,2.0,2
4283211,4283211,0.492586,1.760627,0.573988,-0.102768,-1.341129,7.771561e-16,0.233485,0.564000,2021,5,2.0,1
4283212,4283212,-0.854380,1.760627,-0.741306,-0.896755,-1.341129,7.771561e-16,-1.122496,-0.663512,2021,5,2.0,1

In [5]:
clusters_by_year = df.groupby(['year', 'minibatch_kmeans_cluster']).size().unstack(fill_value=0)
clusters_by_year

minibatch_kmeans_cluster       0       1       2       3
year
2019                      866983       0       0  522566
2020                           0  951355  503124       0
2021                           0  942931  496254       0

In [4]:
for year in df['year'].unique():
    print(f"Год {year}:")
    display(df[df['year'] == year].groupby('minibatch_kmeans_cluster').mean())

Год 2019:

,Unnamed: 0,trip_distance,payment_type,fare_amount,extra,tip_amount,improvement_surcharge,total_amount,trip_time,year,month,VendorID
minibatch_kmeans_cluster,,,,,,,,,,,,
0,694800.231895,-0.544455,0.125886,-0.632152,-0.001856,-0.342615,7.216450e-16,-0.642466,-0.603879,2019.0,10.999998,1.630993
3,694730.478977,0.903299,-0.208856,1.048796,0.003080,0.568429,7.216450e-16,1.065908,1.001889,2019.0,11.000002,1.640126

Год 2020:

,Unnamed: 0,trip_distance,payment_type,fare_amount,extra,tip_amount,improvement_surcharge,total_amount,trip_time,year,month,VendorID
minibatch_kmeans_cluster,,,,,,,,,,,,
1,2.117021e+06,-0.541632,0.103190,-0.592622,-0.001642,-0.308645,8.326673e-16,-0.599121,-0.565226,2020.0,1.000005,1.644088
2,2.116348e+06,1.024171,-0.195122,1.120586,0.003105,0.583615,8.326673e-16,1.132875,1.068784,2020.0,1.000022,1.653676

Год 2021:

,Unnamed: 0,trip_distance,payment_type,fare_amount,extra,tip_amount,improvement_surcharge,total_amount,trip_time,year,month,VendorID
minibatch_kmeans_cluster,,,,,,,,,,,,
1,3.557080e+06,-0.558365,0.097200,-0.591021,0.000353,-0.299107,7.771561e-16,-0.595728,-0.565439,2021.0,2.004273,1.657348
2,3.576047e+06,1.060948,-0.184689,1.122997,-0.000672,0.568332,7.771561e-16,1.131941,1.074389,2021.0,2.044153,1.665982

In [7]:
for year in df['year'].unique():
    print(f"Год {year}:")
    display(df[df['year'] == year].mean())

Год 2019:

Unnamed: 0                  6.947740e+05
trip_distance              -6.648646e-16
payment_type                1.259449e-17
fare_amount                -1.600621e-16
extra                       6.903194e-18
tip_amount                 -9.839864e-17
improvement_surcharge       7.216450e-16
total_amount                8.388660e-17
trip_time                   6.218653e-16
year                        2.019000e+03
month                       1.100000e+01
VendorID                    1.634427e+00
minibatch_kmeans_cluster    1.128206e+00
dtype: float64

Год 2020:

Unnamed: 0                  2.116788e+06
trip_distance               2.855133e-16
payment_type               -1.415537e-16
fare_amount                 1.958210e-16
extra                      -1.171081e-16
tip_amount                  1.817589e-16
improvement_surcharge       8.326673e-16
total_amount               -4.297319e-16
trip_time                   1.365209e-15
year                        2.020000e+03
month                       1.000011e+00
VendorID                    1.647404e+00
minibatch_kmeans_cluster    1.345914e+00
dtype: float64

Год 2021:

Unnamed: 0                  3.563620e+06
trip_distance              -1.730026e-15
payment_type               -1.170591e-16
fare_amount                -9.069487e-17
extra                      -6.803350e-17
tip_amount                  5.149612e-16
improvement_surcharge       7.771561e-16
total_amount               -1.035314e-15
trip_time                  -7.264180e-16
year                        2.021000e+03
month                       2.018024e+00
VendorID                    1.660325e+00
minibatch_kmeans_cluster    1.344816e+00
dtype: float64